version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: mashaschool_postgres_dev
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mashaschool_dev
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 8s
      timeout: 3s
      retries: 3

volumes:
  postgres_data:

