spring:

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  sql:
    init:
      mode: never

  datasource:
    hikari:
      maximum-pool-size: 5
      connection-timeout: 5000
      validation-timeout: 3000
      leak-detection-threshold: 60000
      connection-test-query: SELECT 1

logging:
  level:
    org.hibernate.SQL: INFO
    ru.mgubina.mashaschool: INFO
    com.zaxxer.hikari: WARN

